<div>
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= guitar.name %>" />
</div>

<div>
  <label for="brand">Brand</label
  ><select name="brand">
    <% brands.forEach(brand => { %> <% if(brand.id == guitar.brand){ %>
    <option value="<%= brand.id %>" label="<%= brand.name %>" selected></option>
    <% }else{ %>
    <option value="<%= brand.id %>" label="<%= brand.name %>"></option>
    <% } %> <% }) %>
  </select>
</div>
<div>
  <label for="manufactureDate">Manufacture Date</label>
  <input
    type="date"
    name="manufactureDate"
    value="<%= guitar.manufactureDate == null ? '' : guitar.manufactureDate.toISOString().split('T')[0] %>"
  />
</div>
<div>
  <label for="price">Price</label>
  <input type="number" name="price" min="1" value="<%= guitar.price %>" />
</div>
<div>
  <label for="model">Model Image</label>
  <input type="file" name="model" class="filepond" />
</div>
<div>
  <label for="description">Description</label>
  <textarea name="description"><%= guitar.description %></textarea>
</div>
