<h2 class="page-header"><%= guitar.name %></h2>
<img src="<%=  guitar.modelImagePath%>" alt="" width="100" height="150" />
<div>Brand: <%= guitar.brand.name %></div>
<div>Manufacture Date: <%= guitar.manufactureDate.toDateString() %></div>
<div>Price: <%= guitar.price %></div>
<div>Description: <%= guitar.description %></div>
<a href="/guitars/<%= guitar.id %>/edit">Edit</a>
<%- include('../partials/_deleteForm', {url: `/guitars/${guitar.id}`}) %>
<a href="/brands/<%= guitar.brand.id %>">View Brand</a>
