<h2>Search Brands</h2>
<form action="/brands" method="GET">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>" />
  <button type="submit">Search</button>
</form>
<br />
<% brands.forEach(brand => { %>
<div><%= brand.name %></div>
<a href="/brands/<%= brand.id  %>">View</a>
<a href="/brands/<%= brand.id  %>/edit">Edit</a>
<%- include('../partials/_deleteForm', {url : `/brands/${brand.id}`}) %> <%})%>
